<%= form_for @user, :html => { :id => 'sign_up' } do |f| %>

  <%= render "layouts/errors", :model_error => @user %>

  <%= f.label :full_name %>
  <div class="form-group">
    <div class="form-line">
      <%= f.text_field :full_name, :class => 'form-control', :placeholder => t('form.username') %>
    </div>
  </div>

  <%= f.label :email %>
  <div class="form-group">
    <div class="form-line">
      <%= f.text_field :email, :class => 'form-control', :placeholder => t('form.email') %>
    </div>
  </div>
  <% unless params[:action] == 'edit' %>
    <%= f.label :password %>
    <div class="form-group">
      <div class="form-line">
        <%= f.password_field :password, :class => 'form-control', :placeholder => t('form.password') %>
      </div>
    </div>

     <%= f.label :password_confirmation %>
    <div class="form-group">
      <div class="form-line">
        <%= f.password_field :password_confirmation, :class => 'form-control', :placeholder => t('form.password_confirm') %>
      </div>
    </div>
  <% end %>

  <%= f.label :role %> 
  <div class="form-group">
    <div class="form-line">
      <%= f.select :role, options_for_select(User.roles.keys.map {|role| [role.titleize,role]}, @user.role), {}, :class => 'form-control' %>
    </div>
  </div>
   
   <%= f.submit t('form.send'), :class => 'btn btn-primary m-t-15 waves-effect' %>
<% end %>

