<div class="card">
  <div class="header">
      <h2>
          <%= t 'layouts.basic.edit_background' %>
      </h2>
      <%= render 'dropdown' %>
  </div>
  <div class="body">
    <%= form_for @user, url: edit_background_user_path, :html => { :id => 'edit_profile_background', :multipart => true } do |f| %>
      <%= render "layouts/errors", :model_error => @user %>
      <div class="input-group">
        <span class="input-group-addon">
          <%= material_icon.image %>
        </span>
        <div class="form-line">
          <%= f.file_field :background %>
        </div>
      </div>
      <%= f.submit t('form.send'), :class => 'btn btn-primary m-t-15 waves-effect' %>
    <% end %>
  </div>
</div>