<div class="card">
  <div class="header">
      <h2>
          <%= t 'layouts.basic.edit_profile' %>
      </h2>
      <%= render 'dropdown' %>
  </div>
  <div class="body">
    <%= form_for @user, url: edit_profile_user_path, :html => { :id => 'edit_profile' } do |f| %>
      <%= render "layouts/errors", :model_error => @user %>
      <%= f.label :full_name %>
      <div class="form-group">
        <div class="form-line">
          <%= f.text_field :full_name, :class => 'form-control', :placeholder => t('form.username') %>
        </div>
      </div>
      <%= f.submit t('form.send'), :class => 'btn btn-primary m-t-15 waves-effect' %>
    <% end %>
  </div>
</div>