<div class="card">
  <div class="header">
      <h2>
          <%= t 'layouts.basic.change_password' %>
      </h2>
      <%= render 'dropdown' %>
  </div>
  <div class="body">
    <%= form_for @user, url: edit_password_user_path, :html => { :id => 'edit_password' } do |f| %>
    <%= f.label :current_password %>
    <div class="form-group">
      <div class="form-line">
        <%= f.password_field :current_password, :class => 'form-control', :placeholder => t('form.current_password') %>
      </div>
    </div>

    <%= f.label :password, t('form.new_password') %>
    <div class="form-group">
      <div class="form-line">
        <%= f.password_field :password, :class => 'form-control', :placeholder => t('form.new_password') %>
      </div>
    </div>

     <%= f.label :password_confirmation %>
    <div class="form-group">
      <div class="form-line">
        <%= f.password_field :password_confirmation, :class => 'form-control', :placeholder => t('form.password_confirm') %>
      </div>
    </div>
      <%= f.submit t('form.send'), :class => 'btn btn-primary m-t-15 waves-effect' %>
    <% end %>
  </div>
</div>