<%= render 'layouts/pages/index',
  text_title: 'clients',
  model_path: new_client_path %>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Address</th>
      <th>Site</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.name %></td>
        <td><%= client.email %></td>
        <td><%= client.address %></td>
        <td><%= client.site %></td>
        <td>
            <%= link_to 'Show', client %>
            <% if role_permission(controller_name, 'edit') %>
              | <%= link_to 'Edit', edit_client_path(client) %>
            <% end %>
            <% if role_permission(controller_name, 'destroy') %>
              | <%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render 'layouts/pages/end' %>
