<div class="card">
  <div class="header">
      <h2>
          <%= t 'layouts.basic.show_' + text_title %>
      </h2>
      <ul class="header-dropdown m-r-0">
        <li>
          <%= link_to model_path do %>
            <%= material_icon.edit %>
          <% end %>
        </li>
        <li>
          <%= link_to model_element, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <%= material_icon.delete_forever %>
          <% end %>
        </li>
      </ul>
  </div>
  <div class="body">